.container-btn{
    height: 60px;
    
    display: flex;
    flex : 1 1;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: whitesmoke;
    border-radius: 2em;
    border: 1px solid palevioletred;
    color: palevioletred;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.container-btn:hover{
    background-color: palevioletred;
    color: whitesmoke;
    border-color: whitesmoke;
}

.operator{
    background-color: palevioletred;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.operator:hover{
    background-color: whitesmoke;
    color:palevioletred;
    border-color: palevioletred;
}