#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: .5rem;
	width: 100%;
	max-width: 300px;
	height: 90%;
	max-height: 400px;
}

.title {
	font-family: 'Rubik Doodle shadow';
	grid-column: 1/-1;
	text-align: center;
}
.nombre{
	font-family: 'Rubik Doodle shadow';
	grid-column: 1/-1;
	text-align: center;
}
.screen {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	grid-column: 1/-1;
	
}

.screen>input {
	padding: .5rem;
	text-align: right;
	border-radius: 5rem;
	text-align: center;
}

.screen>input:nth-child(1) {
	font-size: 2em;
	font-weight: 700;
}
.screen>input:nth-child(2) {
	font-size: 1.5em;
}